/* GLOBAL DARK MODE */
.dark {
  background-color: #09090B !important;
  color: #fff !important;
}

/* Sidebar */
.dark .sidebar {
  background-color: #09090B !important;
  border-color: #1f1f23 !important;
}

.dark .sidebar-header {
  border-color: #1f1f23 !important;
}

.dark .sidebar-menu button,
.dark .sidebar-menu a {
  color: #d1d1d1 !important;
}

.dark .sidebar-menu a:hover,
.dark .sidebar-menu button:hover {
  background-color: #1a1a1d !important;
}

/* Active menu item */
.dark .active-menu {
  background-color: #ffffff !important;
  color: #000 !important;
}


/* keep header on top of sidebar overflow and ensure a subtle backdrop blur if desired */
header {
  backdrop-filter: saturate(120%) blur(6px);
}

/* mobile overlay smoothing */
.mobile-sheet-enter {
  transform: translateX(-100%);
}
.mobile-sheet-enter-active {
  transform: translateX(0);
  transition: transform 200ms ease;
}

/* Hide scrollbar (Chrome, Safari) */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar (Firefox) */
.scrollbar-none {
  scrollbar-width: none;
}
.custom-scroll::-webkit-scrollbar {
  width: 0;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
