@import "tailwindcss";
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* import "react-quill/dist/quill.snow.css"; */



body{
  background-color: rgb(247, 245, 245);
}

button {
  cursor: pointer;
}
/* Dark mode */
.dark body {
  @apply bg-[#09090B] text-white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Green scanning line animation */
@keyframes scan {
  0% { top: 0%; }
  50% { top: 100%; }
  100% { top: 0%; }
}
import "@fullcalendar/core/main.css";
import "@fullcalendar/daygrid/main.css";
import "@fullcalendar/timegrid/main.css";
import "@fullcalendar/list/main.css";

