@import "tailwindcss";
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* import "react-quill/dist/quill.snow.css"; */



body{
  background-color: rgb(247, 245, 245);
}

button {
  cursor: pointer;
}
/* Dark mode */
.dark body {
  @apply bg-[#09090B] text-white;
}